@model AWDProjectFinal.ViewModels.ApartmentsViewModel.CreatePostViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>เพิ่มรายชื่อหอใหม่</h1>

<h4>กรุณากรอกข้อมูลให้ครบถ้วน</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <select asp-for="Selectnameowner" asp-items="Model.selectOwner" multiple>
                    <option disabled selected > ---โปรดเลือกเจ้าของหอ--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentType" class="control-label"></label>
                <input asp-for="ApartmentType" class="form-control" />
                <span asp-validation-for="ApartmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountRoom" class="control-label"></label>
                <input asp-for="AmountRoom" class="form-control" />
                <span asp-validation-for="AmountRoom" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageFile" accept="images/*" class="center"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
